<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings>
    <add name="EzChatConnection"
         connectionString="Server=(localdb)\mssqllocaldb;Database=EzChatDb;Trusted_Connection=True;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="AdminLoginID" value="admin" />
    <add key="AdminPassword" value="Admin@123!" />
    <add key="SessionTimeout" value="30" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" requestValidationMode="4.5" maxRequestLength="10240" />

    <!-- 인증 설정 -->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx"
             timeout="30"
             slidingExpiration="true"
             cookieless="UseCookies"
             protection="All"
             requireSSL="false"
             name=".EZCHATAUTH" />
    </authentication>

    <!-- 권한 설정 -->
    <authorization>
      <allow users="*" />
    </authorization>

    <!-- 세션 설정 -->
    <sessionState mode="InProc" timeout="30" cookieless="false" />

    <!-- 사용자 정의 오류 -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/Error.aspx?code=404" />
      <error statusCode="500" redirect="~/Error.aspx?code=500" />
    </customErrors>

    <!-- 페이지 설정 -->
    <pages validateRequest="true" viewStateEncryptionMode="Always" enableViewStateMac="true">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>

    <!-- Membership Provider (간단한 커스텀 인증 사용) -->
    <machineKey validation="SHA1" decryption="AES" validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" />
  </system.web>

  <!-- Admin 폴더 접근 제한 -->
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <!-- 보안 헤더 -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
